body {
  background-color: gold;
}

img {
  float: left;
  border: black solid 5px;
  padding: 2px;
  margin: 1px;
}
.sidebar {
width: 30%;
float: right;
background-color: silver;
border:black solid 3px;
padding: 2px;
margin: 1px;
}

.column1 {
  width: 23%;
  float: left;
  padding: 2px;
  margin: 1px;
  background-color: blanchedalmond;
}

.column2 {
  width: 23%;
  float: left;
  padding: 2px;
  margin: 1px;
  background-color: olive;
}

.column3 {
  width: 23%;
  float: left;
  padding: 2px;
  margin: 1px;
  background-color: violet;
}

.column4 {
  width: 23%;
  float: left;
  padding: 2px;
  margin: 1px;
  background-color: plum;
}

.center {
  text-align: center;
  font-weight: 200;
}